global:
  scrape_interval: 5s

scrape_configs:
  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node-exporter:9100']
  
  - job_name: 'backend_api'
    scrape_interval: 5s
    metrics_path: /metrics
    static_configs:
      - targets: ['backend:8000']
